<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title="Guest List"
    body
        h2="Coming"
        ul
            each person in coming
                li=person
        h2="Not Coming"
        ul
            each person in notComing
                li=person