<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= 'RSVP Here'
    body
        form(action="/reply", method="post")
            input(type="text", name="name", placeholder="name")
            input(type="email", name="email", placeholder="email")
            input(type="radio", name="attending", id="yes", value="true")
            label(for="yes")= "I'll be there!"
            input(type="radio", name="attending", id="no", value="false")
            label(for="no")= "I can't make it!"
            select(name="guests")
                option(value="1")= "1"
                option(value="2")= "2"
                option(value="3")= "3"
                option(value="4")= "4"
                option(value="5")= "5"
                option(value="6")= "6"
                option(value="7")= "7"
                option(value="8")= "8"
            input(type="submit", value="Send RSVP")